.CreateStaff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.CreateStaff_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.CreateStaff_title {
  font-size: 42px;
}

.createStaff_inputGp {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 25px 0;
}

.createStaff_inputGp p {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .CreateStaff_form {
    width: 70%;
  }

  .CreateStaff_title {
    font-size: 38px;
  }

  .createStaff_inputGp {
    flex-direction: column;
    align-items: unset;
    margin: 16px 0;
  }

  .createStaff_inputGp:last-of-type {
    margin-top: 0;
  }

  .createStaff_inputGp p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .CreateStaff_form {
    width: 85%;
  }

  .CreateStaff_title {
    font-size: 32px;
  }
}
